---
// Wrapper component for prose content
---

<div class="prose prose-zinc max-w-none dark:prose-invert prose-headings:font-bold prose-headings:tracking-tight prose-a:font-medium prose-a:no-underline prose-a:decoration-primary-300 prose-a:decoration-2 prose-a:underline-offset-2 hover:prose-a:underline prose-code:font-medium prose-img:rounded-xl prose-img:mx-auto">
  <slot />
</div>

